<!-- components/utilisateur-form/utilisateur-form.component.html -->

<form
  class="custom-form"
  [formGroup]="form"
  (ngSubmit)="save()">

  <div class="form-grid">

    <div class="form-group">
      <label for="nom">Nom</label>

      <input
        id="nom"
        type="text"
        formControlName="name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>

      <input
        id="email"
        type="email"
        formControlName="email">
    </div>

    <div class="form-group">
      <label for="phone">Telephone</label>

      <input
        id="phone"
        type="text"
        formControlName="phone">
    </div>

    <div class="form-group">
      <label for="code">Rôle utilisateur</label>

      <select
        id="code"
        formControlName="code">

        <option value="" disabled>
          Sélectionner un rôle
        </option>
        <option value="10">Abonné</option>
        <option value="20">Admin</option>
        <option value="30">Super Admin</option>
        <option value="40">Agent</option>

      </select>
    </div>

    <div class="form-group">
      <label for="profil">Profil</label>

      <select
        id="profil"
        formControlName="profil_id">

        <option value="">
          Selectionner un profil
        </option>

        @for (item of profils(); track item.id) {
          <option [value]="item.id">
            {{ item.libelle || item.name }}
          </option>
        }

      </select>
    </div>


    @if (!isEditMode()) {
      <div class="form-group full-width">
        <label for="password">Mot de passe</label>

        <input
          id="password"
          type="password"
          formControlName="password">
      </div>
    }

  </div>

  <div class="form-actions">

    <button
      type="button"
      class="btn btn-cancel"
      [disabled]="isLoading()"
      (click)="close()">
      Annuler
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isLoading()">

      @if (isLoading()) {
        <span class="spinner"></span>
      }

      @if (!isEditMode()) {
        Ajouter
      }

      @if (isEditMode()) {
        Modifier
      }

    </button>

  </div>

</form>
