<form
  class="generate-form"
  [formGroup]="form"
  (ngSubmit)="submit()">

  <div class="form-grid">

    <div class="form-group">
      <app-searchable-select
        label="Adhérent"
        placeholder="Tous les adhérents"
        searchPlaceholder="Rechercher par nom, matricule..."
        [options]="adherentSelectOptions()"
        formControlName="adherentId">
      </app-searchable-select>
    </div>

    <div class="form-group">

      <label for="startDate">
        Date début
      </label>

      <input
        id="startDate"
        type="date"
        formControlName="startDate"
        [class.invalid]="hasError('startDate')">

      @if (hasError('startDate')) {

        <small class="error-text">
          Date début obligatoire
        </small>

      }

    </div>

    <div class="form-group">

      <label for="endDate">
        Date fin
      </label>

      <input
        id="endDate"
        type="date"
        formControlName="endDate"
        [class.invalid]="hasError('endDate')">

      @if (hasError('endDate')) {

        <small class="error-text">
          Date fin obligatoire
        </small>

      }

    </div>

  </div>

  <div class="form-actions">

    <button
      type="button"
      class="btn btn-cancel"
      (click)="close()">

      Annuler

    </button>

    <button
      type="submit"
      class="btn btn-primary btn-generate"
      [disabled]="isLoading()">

      Générer

    </button>

  </div>

</form>