<div class="auth-page">

  <div class="auth-card">

    <h1>
      Mot de passe oublie
    </h1>

    <p>
      Recevez un lien de reinitialisation
    </p>

    <form
      [formGroup]="form"
      (ngSubmit)="submit()">

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input  id="email"
          type="email"
          formControlName="email">

      </div>

      <button
        type="submit"
        class="btn btn-primary">
        @if(!isLoading()){
          Envoyer
        }
        @if(isLoading()){
          <span class="spinner">Envoie en cours</span>
        }
        

      </button>

    </form>

  </div>

</div>
