<app-page-header
  title="Profils"
  description="Gestion des profils et permissions"
  buttonText="Nouveau profil"
  icon="bi bi-plus-lg"
  (action)="openCreateModal()">
</app-page-header>

<app-profile-stats
  [profiles]="profiles()"
  [isLoading]="profiles().length === 0">
</app-profile-stats>

<app-profile-filter
  (filter)="filter($event)">
</app-profile-filter>

@if(filteredProfiles().length){

  <app-profile-table
    [profiles]="filteredProfiles()"
    (edit)="openEditModal($event)"
    (delete)="openDeleteDialog($event)">
  </app-profile-table>

} @else {

  <app-empty-state
    title="Aucun profil trouvé">
  </app-empty-state>

}

<app-modal
  [isOpen]="isModalOpen()"
  [title]="selected()
      ? 'Modifier profil'
      : 'Nouveau profil'"
  (close)="closeModal()">

  <app-profile-form
    [profile]="selected()"
    [menus]="menus()"
    [isLoading]="isLoading()"
    (submitForm)="save($event)"
    (cancel)="closeModal()">
  </app-profile-form>

</app-modal>

<app-confirm-dialog
  [isOpen]="isDeleteOpen()"
  title="Suppression"
  message="Supprimer ce profil ?"
  [isLoading]="isDeleteLoading()"
  (confirm)="delete()"
  (cancel)="closeDeleteDialog()">
</app-confirm-dialog>
