<div class="table-card">

  <div class="table-header">

    <h3>

      Actions Workflow

    </h3>

    <button
      class="btn-add"
      (click)="openCreate()">

      <i class="bi bi-plus-circle"></i>

      Ajouter

    </button>

  </div>

  <div class="table-toolbar">

    <div class="search-box">

      <i class="bi bi-search"></i>

      <input
        type="text"
        placeholder="Rechercher..."
        [ngModel]="search()"
        (ngModelChange)="onSearch($event)">

    </div>

  </div>

  <div class="table-responsive">

    <table class="table align-middle">

      <thead>

        <tr>

          <th>Workflow</th>

          <th>Etat</th>

          <th>Profil</th>

          <th>Endpoint</th>

          <th>Ordre</th>

          <th>Actions</th>

        </tr>

      </thead>

      <tbody>

        @for(item of paginatedItems(); track item.id){

          <tr>

            <td>

              {{ item.workflowLabel }}

            </td>

            <td>

              {{ item.stateLabel }}

            </td>

            <td>

              {{ item.profileLabel }}

            </td>

            <td>

              {{ item.endpoint }}

            </td>

            <td>

              {{ item.stateOrder }}

            </td>

            <td>

              <div class="action-buttons">

                <button title="modifier"
                  class="btn-edit"
                  (click)="onEdit(item)">

                  <i class="bi bi-pencil"></i>

                </button>

                <button title="supprimer"
                  class="btn-delete"
                  (click)="onDelete(item.id!)">

                  <i class="bi bi-trash"></i>

                </button>

              </div>

            </td>

          </tr>

        }

        @if(filteredItems().length === 0){

          <tr>

            <td colspan="6">

              <div class="empty-state">

                Aucune action trouvée

              </div>

            </td>

          </tr>

        }

      </tbody>

    </table>

    @if (totalPages() > 1) {
      <app-pagination
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        (pageChange)="changePage($event)">
      </app-pagination>
    }



</div>