<div class="menu-selector">

  @for (
    menu of menus();
    track trackById($index, menu)
  ) {

    <div class="menu-card">

      <div class="menu-header">

        <div
          class="menu-left">

          <input title="cochez"
            type="checkbox"
            class="form-check-input"
            [(ngModel)]="menu.checked"
            (change)="onChange()">

          <strong>
            {{ menu.libelle }}
          </strong>

        </div>

        <div
          class="menu-right">

          <select title="selectionner la permission"
            class="form-select"
            [(ngModel)]="menu.selectedPermission"
            (change)="onChange()">

            @for (
              item of permissionLevels;
              track item.value
            ) {

              <option
                [value]="item.value">

                {{ item.label }}

              </option>

            }

          </select>

        </div>

      </div>

      @if (
        menu.sousMenus?.length
      ) {

        <div
          class="submenu-container">

          @for (
            sub of menu.sousMenus;
            track sub.id
          ) {

            <div class="submenu-row">
              <label class="submenu-left">
                <input
                  type="checkbox"
                  class="form-check-input"
                  [(ngModel)]="sub.checked"
                  (change)="onChange()">
                <span>
                  {{ sub.name }}
                </span>
              </label>

              @if (sub.checked) {
                <div class="submenu-right">
                  <select title="permission du sous-menu"
                    class="form-select form-select-sm"
                    [(ngModel)]="sub.selectedPermission"
                    (change)="onChange()">
                    @for (item of permissionLevels; track item.value) {
                      <option [value]="item.value">{{ item.label }}</option>
                    }
                  </select>
                </div>
              }
            </div>

          }

        </div>

      }

    </div>

  }

</div>