<div class="workflow-detail-page">

  <div class="workflow-header">

    <div class="workflow-header-actions">

      <button
        class="btn btn-light"
        type="button"
        (click)="goBack()">

        <i class="bi bi-arrow-left"></i>

        Retour

      </button>

    </div>

    <h1>
      {{ workflow()?.label }}
    </h1>

    <p>
      {{ workflow()?.endpoint }}
    </p>

  </div>

  <!-- ETATS -->

  <div class="section-card">

    <div class="section-header">

      <h3>
        Etats du workflow
      </h3>

      <button
        class="btn btn-primary"
        (click)="openCreateState()">

        <i class="bi bi-plus-lg"></i>

        Ajouter

      </button>

    </div>

    <app-workflow-states
      [states]="states()"
      (edit)="openEditState($event)"
      (delete)="deleteState($event)">
    </app-workflow-states>

  </div>

  <!-- ACTIONS -->

  <div class="section-card">

    <div class="section-header">

      <h3>
        Actions du workflow
      </h3>

      <button
        class="btn btn-primary"
        (click)="openCreateAction()">

        <i class="bi bi-plus-lg"></i>

        Ajouter

      </button>

    </div>

    <app-workflow-actions
      [actions]="actions()"
      (edit)="openEditAction($event)"
      (delete)="deleteAction($event)">
    </app-workflow-actions>

  </div>

</div>

<!-- MODAL ETAT -->

<app-modal
  [isOpen]="isStateModalOpen()"
  title="Etat"
  width="700px"
  (close)="closeStateModal()">

  <app-workflow-state-form
    [state]="selectedState()"
    (submitForm)="saveState($event)"
    (cancel)="closeStateModal()">
  </app-workflow-state-form>

</app-modal>

<!-- MODAL ACTION -->

<app-modal
  [isOpen]="isActionModalOpen()"
  title="Action"
  width="900px"
  (close)="closeActionModal()">

  <app-workflow-action-form
    [action]="selectedAction()"
    [workflows]="workflows()"
    [states]="states()"
    [profiles]="profiles()"
    (submitForm)="saveAction($event)"
    (cancel)="closeActionModal()">
  </app-workflow-action-form>

</app-modal>