<!-- components/cotisation-adherent-stats/cotisation-adherent-stats.component.html -->

<div class="stats-grid stats-grid--2">

  <div class="stat-card stat-card--blue">

    <div class="stat-icon stat-icon--blue">

      <i class="bi bi-cash-stack"></i>

    </div>

    <div class="stat-content">

      <span>
        Total paiements
      </span>

      <h3>
        {{ totalCotisations() }}
      </h3>

    </div>

  </div>

  <div class="stat-card stat-card--green">

    <div class="stat-icon stat-icon--green">

      <i class="bi bi-wallet2"></i>

    </div>

    <div class="stat-content">

      <span>
        Montant total
      </span>

      <h3>

        {{
          totalMontant()
            | number
        }}

        FCFA

      </h3>

    </div>

  </div>

</div>
