<div class="stats-grid stats-grid--4">

  <!-- TOTAL -->

  <div class="stat-card stat-total">

    <div class="stat-header">

      <div class="stat-icon">
        <i class="bi bi-wallet2"></i>
      </div>

    </div>

    <span class="stat-label">
      Montant Total
    </span>

    <h3 class="stat-value">
      {{ totalMontant() | number }}
      FCFA
    </h3>

  </div>

  <!-- ATTENTE -->

  <div class="stat-card stat-pending">

    <div class="stat-header">

      <div class="stat-icon">
        <i class="bi bi-hourglass-split"></i>
      </div>

    </div>

    <span class="stat-label">
      En attente
    </span>

    <h3 class="stat-value">
      {{ montantAttente() | number }}
      FCFA
    </h3>

  </div>

  <!-- PAYE -->

  <div class="stat-card stat-paid">

    <div class="stat-header">

      <div class="stat-icon">
        <i class="bi bi-check-circle-fill"></i>
      </div>

    </div>

    <span class="stat-label">
      Paiements validés
    </span>

    <h3 class="stat-value">
      {{ montantPaye() | number }}
      FCFA
    </h3>

  </div>

  <!-- ANNULE -->

  <div class="stat-card stat-cancel">

    <div class="stat-header">

      <div class="stat-icon">
        <i class="bi bi-x-circle-fill"></i>
      </div>

    </div>

    <span class="stat-label">
      Paiements annulés
    </span>

    <h3 class="stat-value">
      {{ montantAnnule() | number }}
      FCFA
    </h3>

  </div>

</div>