<div class="dashboard-page">

  <div class="dashboard-header">

    <div>

      <h1>
        Tableau de bord
      </h1>

      <p>
        Vue globale des performances de la tontine
      </p>

    </div>

    <div class="dashboard-date">

      <span class="dashboard-date-label">
        Période
      </span>

      <span>
        {{ currentPeriod }}
      </span>

    </div>

  </div>

  <!-- LOADING -->

  @if (!dashboard()) {

  <div class="dashboard-loading">

    <div
      class="spinner-border text-primary"
      role="status">

      <span class="visually-hidden">
        Chargement...
      </span>

    </div>

    <p class="loading-text">
      Chargement des statistiques...
    </p>

  </div>

}

  <!-- CONTENU -->

  @if (dashboard()) {

    <!-- STATISTIQUES -->

    <app-dashboard-stats
      [stats]="dashboard()">
    </app-dashboard-stats>

    <!-- GRAPHIQUE -->

    <div class="mt-4">

      <app-dashboard-chart
        [stats]="dashboard()">
      </app-dashboard-chart>

    </div>

    <!-- PERFORMANCE DES GROUPES & GRAPHIQUE CIRCULAIRE -->

    <div class="dashboard-content-grid mt-4">

      <div class="d-flex flex-column gap-4">

        <app-classement-groupes
          [items]="classement()"
          [showExports]="false">
        </app-classement-groupes>

        <app-dashboard-group-chart
          [items]="classement()">
        </app-dashboard-group-chart>

      </div>

      <!-- Activité recentes -->

      <div class="dashboard-card">

      <div class="dashboard-card-header">

        <div>

          <h3>
            Dernières opérations
          </h3>

          <p>
            Les 5 dernières opérations enregistrées
          </p>

        </div>

      </div>

  <div class="activity-list">

    @for (
      operation of recentOperations();
      track operation.id
    ) {

      <div class="activity-item">

        <div
          class="activity-icon"
          [class.success]="operation.status === '200'"
          [class.warning]="operation.status === '100'"
          [class.danger]="operation.status === '300'">

          {{
            operation.adherent?.name
              ?.substring(0,2)
              ?.toUpperCase()
          }}

        </div>

        <div class="activity-content">

          <strong>

            {{
              operation.type_operation
            }}

          </strong>

          <span>

            {{
              operation.adherent?.name
            }}

            •

            {{
              operation.montant
                | formatMontant
            }}

            FCFA

          </span>

        </div>

        <small>

          {{
            operation.date_operation
              | changerDate:false
          }}

        </small>

      </div>

    }

  </div>

</div>

    </div>

  }

</div>
