<div class="resume-card">

  <div class="resume-header">

    <div class="avatar">
      {{ adherentInitial() }}
    </div>

    <div class="header-content">

      <h2>
        {{ adherentName() }}
      </h2>

      <span>
        Propriétaire du portefeuille
      </span>

    </div>

  </div>

  <div class="resume-grid">

    <div class="resume-item">

      <label>Email</label>

      <p>
        {{ adherentEmail() }}
      </p>

    </div>

    <div class="resume-item">

      <label>Téléphone</label>

      <p>
        {{ adherentPhone() }}
      </p>

    </div>

    <div class="resume-item">

      <label>Type compte</label>

      <p>
        {{ typeCompte() }}
      </p>

    </div>

    <div class="resume-item">

      <label>Solde</label>

      <p>
        {{ montant() | number }}
        FCFA
      </p>

    </div>

    <div class="resume-item full-width">

      <label>Adresse</label>

      <p>
        {{ adherentAddress() }}
      </p>

    </div>

  </div>

</div>
