<form
  [formGroup]="form"
  (ngSubmit)="save()">

  <div class="card-section">

    <h5>
      Informations du profil
    </h5>

    <div class="row g-3">

      <div class="col-md-6">

        <label for="libelle" class="form-label">
          Libellé
        </label>

        <input id="libelle"
          class="form-control"
          formControlName="libelle">

      </div>

      <div class="col-md-6">

        <label for="code" class="form-label">
          Code
        </label>

        <input id="code"
          class="form-control"
          formControlName="code">

      </div>

    </div>

  </div>

  <div class="card-section mt-4">

    <h5>
      Menus & Permissions
    </h5>

    <app-profile-menu-selector 
    [menus]="menus()">
    </app-profile-menu-selector>
  </div>

  <div
    class="d-flex justify-content-end gap-2 mt-4">

    <button
      type="button"
      class="btn btn-light"
      (click)="onCancel()">

      Annuler

    </button>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="isLoading()">

      @if(isLoading()){

        Enregistrement...

      } @else {

        Enregistrer

      }

    </button>

  </div>

</form>